.custom-container{
	color : black;
}

.root {
	margin: 0px;
}

.slds-table .slds-checkbox {
    display: inline-block !important;
    visibility: visible !important;
}

/* Fix SLDS checkbox toggle inside Lightning Out / Custom Tab */
.slds-checkbox_faux {
    background-color: white !important;
    border: 1px solid #d8dde6 !important;
}

.slds-checkbox_faux:after {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 2px;
}

.slds-checkbox input:checked + .slds-checkbox_faux:after {
    background: #0176D3 !important; /* Salesforce blue */
}
